.header {
	font-size: 20px;
	line-height: 1.5;
	margin: 30px 0 60px 0;
}

.header span {
	display: block;
}

section {
	padding: 40px 0;
}

.form {
	border: 5px solid #27275d;
	padding: 30px 20px;
}

.form input {
	margin-bottom: 11px;
}

.form-header, .section-header {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 900;
}

.form-btn {
	margin: 10px auto;
}

.feature {
	margin-top: 60px;
}

.feature p {
	margin-top: 20px;
}

.btn-2 {
	 margin: 60px 0 60px 0;
}

.video {
	margin-bottom: 20px;
}

.feature-box {
	height: 160px;
}

.feature-img {
	margin-top: 66px;
}

.img {
	width: 250px;
	height: 270px;
	margin-top: 20px;
}

.img-wrapper {
	margin-bottom: 70px;
}